.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 28px;
    color: #7492B9;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #7492B9;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: #7492B9;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: #7492B9;
}

.signin a:hover {
    color: #55739A;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:not(:placeholder-shown) + span,
.form label .input:focus + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid:not(:placeholder-shown) + span {
    color: green;
}

.form label .input:invalid:not(:placeholder-shown) + span {
    color: red;
}

.form label .input:invalid + span {
    color: grey;
}

.submit {
    border: none;
    outline: none;
    background-color: #7492B9;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transition: transform .3s ease;
}

.submit:hover {
    background-color: #55739A;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/* Anpassa hela sidan */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.return-btn {
    background-color: transparent;
    border: none;
    color: #7492B9;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    display: block;

}

.return-btn:hover {
    text-decoration: underline;
    color: #55739A;
}

.submit.loading {
    position: relative;
    color: transparent;
}

.submit.loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}